*.log
bin/
dist/
.idea/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Go test coverage reports
coverage.out
coverage.html

# environment variables
.env
.env.production
.direnv

# Python virtual environments
venv/
.venv/
testsuite/venv/
testsuite/.venv/

# macOS-specific files
.DS_Store
