---
---

<section class="giscus comments"></section>

<style>
	.comments {
     padding-top: 2rem;
     width: 100%;
  }
</style>


<script src="https://giscus.app/client.js"
        data-repo="mhnightcat/superfile"
        data-repo-id="R_kgDOLil1MA"
        data-category="Docs Comments"
        data-category-id="DIC_kwDOLil1MM4CfbH7"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
