---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/LastUpdated.astro';

const { lastUpdated } = Astro.props;

---

{lastUpdated && (
  <div class="last-updated">
    <Default {...Astro.props}><slot /></Default>
  </div>
)}

<style>
	.last-updated {
    width: 100%;
    text-align: right;
	}
</style>